@import "../index.scss";
//Imports "_colors.scss","../components/Topbar.scss"
@keyframes bgcolor {
  0% {
    background-color: $dyingGrey;
    color: $boldWhite;
  }
  50% {
    color: $background;
    background-color: $boldWhite;
  }
  100% {
    background-color: $dyingGrey;
    color: $boldWhite;
  }
}
.links-wrapper {
  margin: 0 auto;
  display: block;
  border-collapse: separate;
}

.links {
  display: block;
  flex: 1;
  text-align: center;
}
.links ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
  border-radius: 10px;
  background-color: $backgroundShade;
  min-width: 300px;
  width: 60%;
  max-width: 780px;
  text-align: justify;
}

.links li {
  margin: auto;
  text-align: center;
}

.links a {
  padding: 15px 0;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  color: $cornsilkLink;
  white-space: nowrap;
  overflow: hidden;
}

.links a:hover {
  color: $boldWhite;
}
.getLink {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
}

.nemoFileOptions {
  padding-left: 5px;
  display: inline-block;
}

.nemoFileOptions a {
  padding-left: 5px;
}

.downloadLink {
  padding-left: 10px;
}
.shareLink {
  padding-left: 10px;
}
.deleteLink {
  padding-left: 10px;
}
