@import "../index.scss";
//Imports "_colors.scss","../components/Topbar.scss"
.login-form-spacer{
	height:30px;
}
.login-form{
	background-color:$backgroundShadeDarker;
	display:inline-block;
	padding:12px;
	border-radius: 10px;

}
.formy {
	padding-top:30px;
	display:inline-block;
}
.formelm{
	text-align:left;
	padding:1.5px 5px;
}
#plabel{
	padding-right:8px;
}
.submit-button{
	padding-top:8px;
	padding-left:64%;
}
@keyframes bgcolor {
	0% {
		background-color: $dyingGrey;
		color: $boldWhite;
	}
	50% {
		color: $background;
		background-color:$boldWhite;
	}
	100% {
		background-color: $dyingGrey;
		color: $boldWhite;
	}
}
input[type=submit] {
	padding: 5px 15px;
	background: $dyingGrey;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 24px;
	line-height: 26px;
	color:white;
}
input[type=submit]:hover {
	animation: bgcolor 4s infinite;
}
