@import "../index.scss";

#login-form{
	background-color:$sectionHighlightDarker;
	display:inline-block;
	padding:12px;
	border-radius: 10px;
  margin:10em auto;
  max-width:400px;
}
.formy {
	display:block;
}
.formelm{
	text-align:right;
	padding:1.5px 0px;
}

@keyframes bgcolor {
	0% {
		background-color: $dyingGrey;
		color: $boldWhite;
	}
	50% {
		color: $background;
		background-color:$boldWhite;
	}
	100% {
		background-color: $dyingGrey;
		color: $boldWhite;
	}
}

#cancelPasswordChange{
   font-size: 18px;
   float:right;
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   overflow: hidden;
   outline:none;
   color:$boldWhite;
   cursor:pointer;
}
#cancelPasswordChange:hover{
  opacity:0.7;
}

.passwordSubmitButtonContainer{
}
.passwordSubmitButtonContainer input[type=submit] {
  text-align: center;
	padding: 5px 15px;
	background: $dyingGrey;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
	line-height: 26px;
	color:white;
  margin: 0 auto;
}
.passwordSubmitButtonContainer input[type=submit]:hover {
	animation: bgcolor 4s infinite;
}

.formelm{
  padding:10px 0px;

}


.formelm label{
  font-size: 16px;
}

#submission-options{
    display:inline-flex;
}

.formelm input[type=password]{
  color:$boldWhite;
  line-height: 30px;
  border:1px solid $sectionHighlight;
  border-radius: 5px;
  background-color:$backgroundShadeDarker;
  font-size: 24px;
  width: 170px;
  padding-left:20px;
}
