@import "../index.scss";
//Imports "_colors.scss","../components/Topbar.scss"
.userPanel{
  margin:50px auto;
  background-color: $backgroundShadeDarker;
  width:400px;
  height:480px;
  border-radius: 10px;
}
.panelIconContainer{
  margin:auto;
  padding-top: 30px;
    pointer-events:all;
}
#panelIcon{
  margin-left: auto;
  margin-right: auto;
  pointer-events:all;
  width:150px;
  height:150px;
  border:5px solid $background;
  border-radius:50%;
}
#panelIcon:hover{
      opacity:0.8;
      cursor:pointer;
}
.panelIconChange{
  height:50px;
  width:100px;
}

#imageUpload{
  visibility:hidden;
  height:0px;
  width:0px;
}

#usernameField{
  font-size: 24px;
  color:$boldWhite;
  line-height: 30px;
  border:1px solid $sectionHighlight;
  border-radius: 5px;
  background-color:$sectionHighlightDarker;
  padding:10px;
  max-width: 330px;
}
.usernameFieldContainer{
  padding:20px 0;
}
.usernameFieldContainer h1{
  text-align: left;
}
@keyframes uploadSubHover {
    0% {
        background-color: $dyingGrey;
        color: $boldWhite;
    }

    50% {
        color: $uploadLime;
        background-color: $boldWhite;
    }
    100% {
        background-color: $dyingGrey;
        color: $boldWhite;
    }
}

#fieldsChange input[type=submit], .form-actions a {
    padding: 5px 15px;
    background-color: $sectionHighlightDarker;
    color:white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    height:38px;
}

#fieldsChange input[type=submit]:hover, .form-actions a:hover {
    animation: uploadSubHover 3s infinite;
}
.changePasswordTriggerWrapper{
  padding:5px;
}

.changePasswordTriggerWrapper a{
  text-decoration: none;
  font-size: 20px;
  color: $fadedWhite;
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap;
}

.changePasswordTriggerWrapper a:hover{
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from($fadedWhite), color-stop(0.5, $navShimmer), to($fadedWhite));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
    }

.form-actions{
  display:inline-block;
  padding-top:10px;
}

.form-action{
  padding:10px 0px;
}
