@keyframes successTrans {
  0% {
    height: 100%;
    background-color: rgba(0, 164, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(0, 164, 0, 0);
    color: 255, 255, 255, 0;
    height: 0; } }

@keyframes failTrans {
  0% {
    height: 100%;
    background-color: rgba(164, 0, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(164, 0, 0, 0);
    height: 0;
    color: 255, 255, 255, 0; } }

.statusIndicatorFail {
  position: absolute;
  width: 100%;
  animation: failTrans 1.9s forwards;
  overflow: hidden; }

.statusIndicatorSuccess {
  animation: successTrans 1.7s forwards;
  position: absolute;
  width: 100%;
  overflow: hidden; }

.topBar {
  background-color: rgba(23, 23, 23, 0.8);
  width: 100%;
  display: inline-block; }

.barTitle {
  font-size: 22px;
  float: left;
  max-width: 223px;
  padding-right: 10px; }

.barTitle h1 {
  text-align: left;
  overflow: hidden;
  white-space: nowrap; }

.nav {
  line-height: 36px;
  padding: 24px 0px;
  display: inline-block;
  float: left; }

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap; }

.nav a:hover {
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from(white), color-stop(0.5, #4c4c4c), to(white));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; }

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/ }
  70% {
    background-position: 12.5rem top;
    /*200px*/ }
  100% {
    background-position: 12.5rem top;
    /*200px*/ } }

.userIconContainer {
  padding-top: 19px; }

#userIcon {
  float: left;
  height: 40px;
  width: 40px;
  border: 2px solid #232323;
  border-radius: 50%; }

#userIcon:hover {
  opacity: 0.7; }

.userHandler {
  float: left;
  display: block;
  padding: 0px 10px; }

.userControlContainer {
  position: absolute;
  padding-left: 20px;
  max-width: 200px;
  z-index: 999; }

.loginLinks {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin: 0 0;
  border-collapse: separate;
  padding-right: 10px;
  padding: 10px 0px;
  background-color: rgba(30, 30, 30, 0.92);
  border-radius: 16px; }

.loginLinks ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none; }

.loginLinks li {
  float: left;
  width: 100%;
  padding: 5px 5px;
  border: 0 none;
  text-align: left;
  cursor: pointer;
  padding-left: 20px; }

.loginLinks a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 26px; }

.loginLinks a:hover, .loginLinks a:focus {
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from(white), color-stop(0.5, #4c4c4c), to(white));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; }

h1 {
  font-family: "Dejavu Sans";
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 36.3px; }

h2, label {
  font-family: "Dejavu Sans";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 36.3px; }

h3 {
  font-family: "Dejavu Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }

p, a {
  font-family: "Dejavu Sans";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

blockquote {
  font-family: "Dejavu Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: "Dejavu Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px; }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

.floaty-background {
  height: 0px;
  width: 0px;
  display: block;
  overflow: hidden; }

.floaty-background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: fixed;
  animation: move;
  animation-duration: 23;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1; }

.floaty-background span:nth-child(0) {
  color: #d69d00;
  top: 10%;
  left: 49%;
  animation-duration: 69s;
  animation-delay: -195s;
  transform-origin: -2vw 5vh;
  box-shadow: -2vmin 0 1.0091004521052018vmin currentColor; }

.floaty-background span:nth-child(1) {
  color: #d69d00;
  top: 43%;
  left: 80%;
  animation-duration: 138s;
  animation-delay: -152s;
  transform-origin: 5vw 7vh;
  box-shadow: 2vmin 0 1.2032350019957339vmin currentColor; }

.floaty-background span:nth-child(2) {
  color: #d66800;
  top: 19%;
  left: 29%;
  animation-duration: 36s;
  animation-delay: -173s;
  transform-origin: -2vw 1vh;
  box-shadow: -2vmin 0 0.3514258750943793vmin currentColor; }

.floaty-background span:nth-child(3) {
  color: #ff1900;
  top: 12%;
  left: 30%;
  animation-duration: 212s;
  animation-delay: -30s;
  transform-origin: -7vw -9vh;
  box-shadow: 2vmin 0 1.2223025473690832vmin currentColor; }

.floaty-background span:nth-child(4) {
  color: #420000;
  top: 21%;
  left: 86%;
  animation-duration: 36s;
  animation-delay: -192s;
  transform-origin: 22vw 8vh;
  box-shadow: -2vmin 0 1.0098944355899018vmin currentColor; }

.floaty-background span:nth-child(5) {
  color: #ff1900;
  top: 35%;
  left: 48%;
  animation-duration: 149s;
  animation-delay: -60s;
  transform-origin: -11vw 23vh;
  box-shadow: 2vmin 0 0.2523383721857462vmin currentColor; }

.floaty-background span:nth-child(6) {
  color: #d69d00;
  top: 27%;
  left: 1%;
  animation-duration: 168s;
  animation-delay: -128s;
  transform-origin: -10vw -18vh;
  box-shadow: 2vmin 0 0.622657423410268vmin currentColor; }

.floaty-background span:nth-child(7) {
  color: #d69d00;
  top: 16%;
  left: 53%;
  animation-duration: 34s;
  animation-delay: -209s;
  transform-origin: -23vw 6vh;
  box-shadow: 2vmin 0 0.5883370386447451vmin currentColor; }

.floaty-background span:nth-child(8) {
  color: #d66800;
  top: 39%;
  left: 53%;
  animation-duration: 19s;
  animation-delay: -151s;
  transform-origin: 19vw 15vh;
  box-shadow: -2vmin 0 1.1954923742964352vmin currentColor; }

.floaty-background span:nth-child(9) {
  color: #ff1900;
  top: 36%;
  left: 96%;
  animation-duration: 226s;
  animation-delay: -244s;
  transform-origin: -15vw 15vh;
  box-shadow: 2vmin 0 0.3517265199649404vmin currentColor; }

.floaty-background span:nth-child(10) {
  color: #d69d00;
  top: 59%;
  left: 6%;
  animation-duration: 263s;
  animation-delay: -242s;
  transform-origin: -13vw 25vh;
  box-shadow: -2vmin 0 0.896035598227668vmin currentColor; }

.floaty-background span:nth-child(11) {
  color: #420000;
  top: 5%;
  left: 37%;
  animation-duration: 150s;
  animation-delay: -198s;
  transform-origin: 25vw -12vh;
  box-shadow: 2vmin 0 0.4118564834409699vmin currentColor; }

.floaty-background span:nth-child(12) {
  color: #420000;
  top: 87%;
  left: 74%;
  animation-duration: 121s;
  animation-delay: -78s;
  transform-origin: -5vw -22vh;
  box-shadow: -2vmin 0 0.5884163665209545vmin currentColor; }

.floaty-background span:nth-child(13) {
  color: #420000;
  top: 17%;
  left: 82%;
  animation-duration: 113s;
  animation-delay: -146s;
  transform-origin: 11vw 2vh;
  box-shadow: -2vmin 0 0.7889912987346741vmin currentColor; }

.floaty-background span:nth-child(14) {
  color: #d66800;
  top: 69%;
  left: 70%;
  animation-duration: 197s;
  animation-delay: -87s;
  transform-origin: -21vw 11vh;
  box-shadow: 2vmin 0 0.2910734044723724vmin currentColor; }

.floaty-background span:nth-child(15) {
  color: #420000;
  top: 53%;
  left: 61%;
  animation-duration: 274s;
  animation-delay: -252s;
  transform-origin: 5vw -7vh;
  box-shadow: -2vmin 0 1.1682759694454372vmin currentColor; }

.floaty-background span:nth-child(16) {
  color: #ff1900;
  top: 56%;
  left: 10%;
  animation-duration: 243s;
  animation-delay: -21s;
  transform-origin: 24vw 3vh;
  box-shadow: -2vmin 0 0.9626111706199254vmin currentColor; }

.floaty-background span:nth-child(17) {
  color: #d69d00;
  top: 68%;
  left: 41%;
  animation-duration: 161s;
  animation-delay: -89s;
  transform-origin: 3vw 15vh;
  box-shadow: -2vmin 0 0.27468934754435437vmin currentColor; }

.floaty-background span:nth-child(18) {
  color: #d69d00;
  top: 71%;
  left: 33%;
  animation-duration: 252s;
  animation-delay: -55s;
  transform-origin: -17vw -23vh;
  box-shadow: 2vmin 0 0.649980699414809vmin currentColor; }

.floaty-background span:nth-child(19) {
  color: #ff1900;
  top: 81%;
  left: 60%;
  animation-duration: 31s;
  animation-delay: -197s;
  transform-origin: 5vw 10vh;
  box-shadow: -2vmin 0 0.9363295457971783vmin currentColor; }

.floaty-background span:nth-child(20) {
  color: #d69d00;
  top: 49%;
  left: 71%;
  animation-duration: 49s;
  animation-delay: -215s;
  transform-origin: 8vw -15vh;
  box-shadow: -2vmin 0 1.2477753706311974vmin currentColor; }

.floaty-background span:nth-child(21) {
  color: #d69d00;
  top: 34%;
  left: 17%;
  animation-duration: 130s;
  animation-delay: -130s;
  transform-origin: -4vw -24vh;
  box-shadow: 2vmin 0 0.593722133166845vmin currentColor; }

.floaty-background span:nth-child(22) {
  color: #d66800;
  top: 56%;
  left: 21%;
  animation-duration: 246s;
  animation-delay: -47s;
  transform-origin: -13vw 20vh;
  box-shadow: 2vmin 0 0.8235457301854132vmin currentColor; }

.floaty-background span:nth-child(23) {
  color: #ff1900;
  top: 92%;
  left: 61%;
  animation-duration: 200s;
  animation-delay: -50s;
  transform-origin: 24vw -10vh;
  box-shadow: 2vmin 0 0.48969990643097794vmin currentColor; }

.floaty-background span:nth-child(24) {
  color: #d66800;
  top: 74%;
  left: 59%;
  animation-duration: 131s;
  animation-delay: -49s;
  transform-origin: -21vw -18vh;
  box-shadow: 2vmin 0 0.33311476168688325vmin currentColor; }

.floaty-background span:nth-child(25) {
  color: #d69d00;
  top: 47%;
  left: 76%;
  animation-duration: 272s;
  animation-delay: -244s;
  transform-origin: -13vw -23vh;
  box-shadow: -2vmin 0 0.652338069944528vmin currentColor; }

.floaty-background span:nth-child(26) {
  color: #ff1900;
  top: 73%;
  left: 67%;
  animation-duration: 109s;
  animation-delay: -55s;
  transform-origin: -3vw 25vh;
  box-shadow: 2vmin 0 0.29600758587115883vmin currentColor; }

.floaty-background span:nth-child(27) {
  color: #420000;
  top: 33%;
  left: 93%;
  animation-duration: 108s;
  animation-delay: -90s;
  transform-origin: 24vw 22vh;
  box-shadow: -2vmin 0 0.49958874550813626vmin currentColor; }

.floaty-background span:nth-child(28) {
  color: #d66800;
  top: 3%;
  left: 20%;
  animation-duration: 236s;
  animation-delay: -22s;
  transform-origin: 4vw -19vh;
  box-shadow: -2vmin 0 1.1100157879463233vmin currentColor; }

.floaty-background span:nth-child(29) {
  color: #ff1900;
  top: 62%;
  left: 37%;
  animation-duration: 219s;
  animation-delay: -10s;
  transform-origin: -15vw -3vh;
  box-shadow: 2vmin 0 0.9884185648838344vmin currentColor; }

.floaty-background span:nth-child(30) {
  color: #420000;
  top: 4%;
  left: 8%;
  animation-duration: 80s;
  animation-delay: -101s;
  transform-origin: 18vw -23vh;
  box-shadow: 2vmin 0 0.8999162291031413vmin currentColor; }

.floaty-background span:nth-child(31) {
  color: #d69d00;
  top: 27%;
  left: 29%;
  animation-duration: 151s;
  animation-delay: -237s;
  transform-origin: -15vw -18vh;
  box-shadow: 2vmin 0 0.8014621270629252vmin currentColor; }

.floaty-background span:nth-child(32) {
  color: #420000;
  top: 60%;
  left: 43%;
  animation-duration: 270s;
  animation-delay: -34s;
  transform-origin: -19vw -17vh;
  box-shadow: -2vmin 0 1.0788528836523694vmin currentColor; }

.floaty-background span:nth-child(33) {
  color: #420000;
  top: 44%;
  left: 82%;
  animation-duration: 36s;
  animation-delay: -69s;
  transform-origin: -14vw -21vh;
  box-shadow: 2vmin 0 0.7747430499643138vmin currentColor; }

.floaty-background span:nth-child(34) {
  color: #ff1900;
  top: 96%;
  left: 1%;
  animation-duration: 112s;
  animation-delay: -173s;
  transform-origin: 4vw -19vh;
  box-shadow: 2vmin 0 1.1885670984218855vmin currentColor; }

.floaty-background span:nth-child(35) {
  color: #d66800;
  top: 77%;
  left: 95%;
  animation-duration: 186s;
  animation-delay: -40s;
  transform-origin: -10vw -14vh;
  box-shadow: 2vmin 0 0.48227933240255205vmin currentColor; }

.floaty-background span:nth-child(36) {
  color: #ff1900;
  top: 41%;
  left: 80%;
  animation-duration: 268s;
  animation-delay: -132s;
  transform-origin: 1vw 1vh;
  box-shadow: -2vmin 0 1.219052076118337vmin currentColor; }

.floaty-background span:nth-child(37) {
  color: #d66800;
  top: 27%;
  left: 11%;
  animation-duration: 96s;
  animation-delay: -137s;
  transform-origin: 25vw -22vh;
  box-shadow: -2vmin 0 1.0632752342650889vmin currentColor; }

.floaty-background span:nth-child(38) {
  color: #d69d00;
  top: 15%;
  left: 91%;
  animation-duration: 43s;
  animation-delay: -182s;
  transform-origin: 15vw 17vh;
  box-shadow: -2vmin 0 1.0041869727733905vmin currentColor; }

.floaty-background span:nth-child(39) {
  color: #420000;
  top: 64%;
  left: 88%;
  animation-duration: 212s;
  animation-delay: -226s;
  transform-origin: -12vw 19vh;
  box-shadow: 2vmin 0 0.5100239081554563vmin currentColor; }

.floaty-background span:nth-child(40) {
  color: #d69d00;
  top: 61%;
  left: 10%;
  animation-duration: 35s;
  animation-delay: -93s;
  transform-origin: -5vw 10vh;
  box-shadow: -2vmin 0 1.1290062900556326vmin currentColor; }

.floaty-background span:nth-child(41) {
  color: #ff1900;
  top: 69%;
  left: 48%;
  animation-duration: 153s;
  animation-delay: -161s;
  transform-origin: 6vw -23vh;
  box-shadow: -2vmin 0 0.8496452570555402vmin currentColor; }

.floaty-background span:nth-child(42) {
  color: #ff1900;
  top: 97%;
  left: 79%;
  animation-duration: 183s;
  animation-delay: -179s;
  transform-origin: -15vw -21vh;
  box-shadow: -2vmin 0 0.25854148075445815vmin currentColor; }

.floaty-background span:nth-child(43) {
  color: #ff1900;
  top: 28%;
  left: 83%;
  animation-duration: 236s;
  animation-delay: -130s;
  transform-origin: -15vw 17vh;
  box-shadow: 2vmin 0 0.9865990012949186vmin currentColor; }

.floaty-background span:nth-child(44) {
  color: #d66800;
  top: 3%;
  left: 36%;
  animation-duration: 157s;
  animation-delay: -64s;
  transform-origin: -11vw 1vh;
  box-shadow: 2vmin 0 0.5808076351192066vmin currentColor; }

.floaty-background span:nth-child(45) {
  color: #420000;
  top: 89%;
  left: 3%;
  animation-duration: 11s;
  animation-delay: -221s;
  transform-origin: 25vw -23vh;
  box-shadow: 2vmin 0 0.7122988108881596vmin currentColor; }

.floaty-background span:nth-child(46) {
  color: #420000;
  top: 52%;
  left: 97%;
  animation-duration: 191s;
  animation-delay: -109s;
  transform-origin: 4vw -11vh;
  box-shadow: -2vmin 0 0.307980033655896vmin currentColor; }

.floaty-background span:nth-child(47) {
  color: #d69d00;
  top: 73%;
  left: 93%;
  animation-duration: 53s;
  animation-delay: -127s;
  transform-origin: -22vw -4vh;
  box-shadow: -2vmin 0 0.6215709745108209vmin currentColor; }

.floaty-background span:nth-child(48) {
  color: #ff1900;
  top: 49%;
  left: 33%;
  animation-duration: 258s;
  animation-delay: -44s;
  transform-origin: 8vw 12vh;
  box-shadow: 2vmin 0 0.5580300476029718vmin currentColor; }

.floaty-background span:nth-child(49) {
  color: #ff1900;
  top: 69%;
  left: 89%;
  animation-duration: 29s;
  animation-delay: -160s;
  transform-origin: -4vw 2vh;
  box-shadow: -2vmin 0 0.3618042977526428vmin currentColor; }

html {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 100%;
  color: white;
  background: linear-gradient(70deg, black 0%, #848486 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 95%;
  text-align: center; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }
