$circleGreen:#5cb85c;
$uploadLime:limegreen;
$sectionHighlight:#313131;
$boldWhite: white;
$fadedWhite:$boldWhite;
$background:#232323;
$navShimmer:#4c4c4c;
$dyingGrey:#4D493A;
$borderColor:#13120e;
$cornsilkLink:#e0e0e0;
$javaDownload:aliceblue;
$circleLetterHighlight:$fadedWhite;
$dunemaskD:#e20006;
$dunemaskDarker:rgba(199, 2, 7, 1);
$sliderColor:#2196F3;
$backgroundShade:rgba(23, 23, 23,0.8);
$backgroundShadeDarker:rgba(20, 20, 20,0.92);
$sectionHighlightDarker:rgba(30,30,30,.92);
$defaultBorderRadius:10px;
