@import "components/Topbar.scss","colors.scss","fonts.scss","general-placements.scss";
//Imports "_colors.scss"
html{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 100%;
  color: $fadedWhite;
  background: linear-gradient(70deg,
               black  0%,
               #848486  100%)
               no-repeat center center fixed;
               -webkit-background-size: cover;
               -moz-background-size: cover;
               -o-background-size: cover;
               background-size: cover;
}
body{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 95%;
  text-align: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
