@keyframes successTrans {
  0% {
    height: 100%;
    background-color: rgba(0, 164, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(0, 164, 0, 0);
    color: 255, 255, 255, 0;
    height: 0; } }

@keyframes failTrans {
  0% {
    height: 100%;
    background-color: rgba(164, 0, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(164, 0, 0, 0);
    height: 0;
    color: 255, 255, 255, 0; } }

.statusIndicatorFail {
  position: absolute;
  width: 100%;
  animation: failTrans 1.9s forwards;
  overflow: hidden; }

.statusIndicatorSuccess {
  animation: successTrans 1.7s forwards;
  position: absolute;
  width: 100%;
  overflow: hidden; }

.topBar {
  background-color: rgba(23, 23, 23, 0.8);
  width: 100%;
  display: inline-block; }

.barTitle {
  font-size: 22px;
  float: left;
  max-width: 223px;
  padding-right: 10px; }

.barTitle h1 {
  text-align: left;
  overflow: hidden;
  white-space: nowrap; }

.nav {
  line-height: 36px;
  padding: 24px 0px;
  display: inline-block;
  float: left; }

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap; }

.nav a:hover {
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from(white), color-stop(0.5, #4c4c4c), to(white));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; }

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/ }
  70% {
    background-position: 12.5rem top;
    /*200px*/ }
  100% {
    background-position: 12.5rem top;
    /*200px*/ } }

.userIconContainer {
  padding-top: 19px; }

#userIcon {
  float: left;
  height: 40px;
  width: 40px;
  border: 2px solid #232323;
  border-radius: 50%; }

#userIcon:hover {
  opacity: 0.7; }

.userHandler {
  float: left;
  display: block;
  padding: 0px 10px; }

.userControlContainer {
  position: absolute;
  padding-left: 20px;
  max-width: 200px;
  z-index: 999; }

.loginLinks {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin: 0 0;
  border-collapse: separate;
  padding-right: 10px;
  padding: 10px 0px;
  background-color: rgba(30, 30, 30, 0.92);
  border-radius: 16px; }

.loginLinks ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none; }

.loginLinks li {
  float: left;
  width: 100%;
  padding: 5px 5px;
  border: 0 none;
  text-align: left;
  cursor: pointer;
  padding-left: 20px; }

.loginLinks a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 26px; }

.loginLinks a:hover, .loginLinks a:focus {
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from(white), color-stop(0.5, #4c4c4c), to(white));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; }

h1 {
  font-family: "Dejavu Sans";
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 36.3px; }

h2, label {
  font-family: "Dejavu Sans";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 36.3px; }

h3 {
  font-family: "Dejavu Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }

p, a {
  font-family: "Dejavu Sans";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

blockquote {
  font-family: "Dejavu Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: "Dejavu Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px; }

html {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 100%;
  color: white;
  background: linear-gradient(70deg, black 0%, #848486 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 95%;
  text-align: center; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

#login-form {
  background-color: rgba(30, 30, 30, 0.92);
  display: inline-block;
  padding: 12px;
  border-radius: 10px;
  margin: 10em auto;
  max-width: 400px; }

.formy {
  display: block; }

.formelm {
  text-align: right;
  padding: 1.5px 0px; }

@keyframes bgcolor {
  0% {
    background-color: #4D493A;
    color: white; }
  50% {
    color: #232323;
    background-color: white; }
  100% {
    background-color: #4D493A;
    color: white; } }

#cancelPasswordChange {
  font-size: 18px;
  float: right;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  color: white;
  cursor: pointer; }

#cancelPasswordChange:hover {
  opacity: 0.7; }

.passwordSubmitButtonContainer input[type=submit] {
  text-align: center;
  padding: 5px 15px;
  background: #4D493A;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin: 0 auto; }

.passwordSubmitButtonContainer input[type=submit]:hover {
  animation: bgcolor 4s infinite; }

.formelm {
  padding: 10px 0px; }

.formelm label {
  font-size: 16px; }

#submission-options {
  display: inline-flex; }

.formelm input[type=password] {
  color: white;
  line-height: 30px;
  border: 1px solid #313131;
  border-radius: 5px;
  background-color: rgba(20, 20, 20, 0.92);
  font-size: 24px;
  width: 170px;
  padding-left: 20px; }
